<form [formGroup]="publishForm">
    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
        <ngb-panel id="custom-panel-1">
            <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 accordion-title">Repository information</h6>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <h6>Version Control System</h6>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="vcsRadios1{{formIndex}}" value="git" checked
                        formControlName="vcs">
                    <label class="form-check-label" for="vcsRadios1{{formIndex}}">
                        Git
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="vcsRadios2{{formIndex}}" value="svn"
                        formControlName="vcs">
                    <label class="form-check-label" for="vcsRadios2{{formIndex}}">
                        Subversion
                    </label>
                </div>
                <br>
                <div *ngIf="getTabVcs(publishForm)=='git'">
                    <label for="url{{formIndex}}">Repository URL <span class="required">*</span></label>
                    <input type="text" class="form-control form-control-sm" id="url{{formIndex}}"
                        aria-describedby="urlHelp" placeholder="https://github.com/author/repository"
                        formControlName="url" (change)="getRepoTree()">
                    <small id="urlHelp" class="form-text text-muted">The web URL to your <i>public</i> GitHub
                        repository.</small>
                </div>

                <div *ngIf="getTabVcs(publishForm)=='svn'">
                    <label for="url{{formIndex}}">Repository URL <span class="required">*</span></label>
                    <input type="text" class="form-control form-control-sm" id="url{{formIndex}}"
                        aria-describedby="urlHelp" placeholder="" formControlName="url" (change)="getRepoTree()">
                    <small id="urlHelp" class="form-text text-muted">The web URL to your <i>public</i> SVN
                        repository.</small>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="custom-panel-1">
            <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 accordion-title">Snapshot selection</h6>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="snapshotRadios1{{formIndex}}" formControlName="pubSnap" value="false" checked>
                    <label class="form-check-label" for="snapshotRadios1{{formIndex}}">
                        Publish entire repository
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="snapshotRadios2{{formIndex}}" formControlName="pubSnap" value="true" (change)="getRepoTree()">
                    <label class="form-check-label" for="snapshotRadios2{{formIndex}}">
                        Publish specific snapshot
                    </label>
                </div>

                <div *ngIf="publishSnapshot()">
                    <br>
                    Select the snapshot (also known as <i>commit</i> or <i>revision</i>) you wish to publish.
                    <br>
                    <div *ngIf="selectedCommit">
                        <span class="font-weight-bold">Selected snapshot:</span> {{selectedCommit.message}}
                    </div>
                    <br>
                    <span *ngIf="!repoTree" class="tooltip-wrapper" placement="right" ngbTooltip="{{getToolTip()}}">
                        <button class="btn btn-info" (click)="modal.openModal()" [disabled]="!repoTree">Select
                            snapshot</button>
                        <div *ngIf="loadingRepoTree">
                            <div class="spinner-border" style="width: 1.25rem; height: 1.25rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Loading repository contents...
                        </div>
                    </span>
                    <span *ngIf="repoTree">
                        <button class="btn btn-info" (click)="modal.openModal()" [disabled]="!repoTree">Select
                            snapshot</button>
                    </span>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="custom-panel-1">
            <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 accordion-title">Publishing information</h6>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <h6>Publishing Environment</h6>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="pidRadios1{{formIndex}}" value="b2share" checked
                        formControlName="ps">
                    <label class="form-check-label" for="pidRadios1{{formIndex}}">
                        EUDAT - B2SHARE
                    </label>
                </div>
                <!--<br>
                <label for="token">Access Token <span class="required">*</span></label>
                <input type="text" class="form-control form-control-sm" id="token" aria-describedby="tokenHelp"
                    placeholder="">
                <small id="tokenHelp" class="form-text text-muted">Your B2SHARE access token.</small> -->
            </ng-template>
        </ngb-panel>
        <ngb-panel id="custom-panel-1">
            <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="m-0 accordion-title">Publication Metadata</h6>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>

                <label for="name{{formIndex}}">Publication title <span class="required">*</span></label>
                <input type="text" class="form-control form-control-sm" id="name{{formIndex}}" placeholder=""
                    formControlName="name">
                <br>
                <h6>Publication type</h6>
                <div class="form-check check-vertical">
                    <input class="form-check-input" type="radio" id="typeRadios1{{formIndex}}" value="software" checked
                        formControlName="type">
                    <label class="form-check-label" for="typeRadios1{{formIndex}}">
                        Software
                    </label>
                </div>
                <div class="form-check check-vertical">
                    <input class="form-check-input" type="radio" id="typeRadios2{{formIndex}}" value="media"
                        formControlName="type">
                    <label class="form-check-label" for="typeRadios2{{formIndex}}">
                        Media
                    </label>
                </div>
                <div class="form-check check-vertical">
                    <input class="form-check-input" type="radio" id="typeRadios3{{formIndex}}" value="educational"
                        formControlName="type">
                    <label class="form-check-label" for="typeRadios3{{formIndex}}">
                        Educational
                    </label>
                </div>
                <br>

                <h6>Basic information</h6>
                <label for="date">Publication date <span class="required"> *</span></label>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="date" ngbDatepicker
                            #d="ngbDatepicker" id="datepicker{{formIndex}}" #date>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
                <br>
                <label for="author{{formIndex}}">Author <span class="required"> *</span></label>
                <input type="text" class="form-control form-control-sm" id="author{{formIndex}}" placeholder=""
                    formControlName="author">
                <br>

                <label for="contributors{{formIndex}}">Contributors</label>
                <input type="text" class="form-control form-control-sm" id="contributors{{formIndex}}" placeholder=""
                    formControlName="contributors">
                <br>

                <label for="version{{formIndex}}">Version</label>
                <input type="text" class="form-control form-control-sm" id="version{{formIndex}}" placeholder=""
                    formControlName="version">
                <br>

                <label for="description{{formIndex}}">Description <span class="required">*</span></label>
                <textarea class="form-control form-control-sm" id="description{{formIndex}}" placeholder="" rows="5"
                    formControlName="description"></textarea>
                <br>

                <h6>Access rights</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="open_access{{formIndex}}"
                        formControlName="open_access">
                    <label class="form-check-label" for="open_access{{formIndex}}">
                        Open access
                    </label>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</form>


<app-repo-visualizer-modal [parent]="this" [repoTree]="repoTree" #repoTreeModal></app-repo-visualizer-modal>