<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>Publishing</span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="requireBundleInfo">
            <form [formGroup]="bundleInfo">
                <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
                    <ngb-panel id="custom-panel-1">
                        <ng-template ngbPanelHeader let-opened="opened">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="m-0 accordion-title">Bundle information</h6>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <h6>Included repositories</h6>
                            <div *ngFor="let form of publishForms">
                                {{form.controls.name.value}} ({{form.controls.url.value}})
                            </div>
                            <br>
                            <label for="name">Bundle name <span class="required">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="bundle_name" placeholder=""
                                formControlName="name">

                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="custom-panel-1">
                        <ng-template ngbPanelHeader let-opened="opened">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="m-0 accordion-title">Publishing information</h6>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <h6>Publishing Environment</h6>
                            All repositories will be separately published to this publishing environment, as well as a single record containing references to the published repositories
                            <br>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="bundle_pidRadios1" value="b2share"
                                    checked formControlName="ps">
                                <label class="form-check-label" for="bundle_pidRadios1">
                                    EUDAT - B2SHARE
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="bundle_pidRadios2" value="figshare"
                                    checked formControlName="ps">
                                <label class="form-check-label" for="bundle_pidRadios2">
                                    figshare
                                </label>
                            </div>
                            <br>
                            <label for="token">Access Token <span class="required">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="bundle_token"
                                aria-describedby="tokenHelp" placeholder="" formControlName="token">
                            <small id="tokenHelp" class="form-text text-muted">Your B2SHARE/figshare personal access
                                token</small>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="custom-panel-1">
                        <ng-template ngbPanelHeader let-opened="opened">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="m-0 accordion-title">Publication Metadata</h6>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <h6>Publication type</h6>
                            <div class="form-check check-vertical">
                                <input class="form-check-input" type="radio" id="bundle_typeRadios1" value="software"
                                    checked formControlName="type">
                                <label class="form-check-label" for="bundle_typeRadios1">
                                    Software
                                </label>
                            </div>
                            <div class="form-check check-vertical">
                                <input class="form-check-input" type="radio" id="bundle_typeRadios2" value="media"
                                    formControlName="type">
                                <label class="form-check-label" for="bundle_typeRadios2">
                                    Media
                                </label>
                            </div>
                            <div class="form-check check-vertical">
                                <input class="form-check-input" type="radio" id="bundle_typeRadios3" value="educational"
                                    formControlName="type">
                                <label class="form-check-label" for="bundle_typeRadios3">
                                    Educational
                                </label>
                            </div>
                            <br>

                            <h6>Basic information</h6>
                            <label for="date">Publication date <span class="required"> *</span></label>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="date"
                                        ngbDatepicker #d="ngbDatepicker" id="datepicker" #date>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                            type="button"></button>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <label for="date">Author <span class="required"> *</span></label>
                            <input type="text" class="form-control form-control-sm" id="bundle_author" placeholder=""
                                formControlName="author">
                            <br>

                            <label for="date">Contributors</label>
                            <input type="text" class="form-control form-control-sm" id="bundle_contributors"
                                placeholder="" formControlName="contributors">
                            <br>

                            <label for="date">Version</label>
                            <input type="text" class="form-control form-control-sm" id="bundle_version" placeholder=""
                                formControlName="version">
                            <br>

                            <label for="date">Description <span class="required">*</span></label>
                            <textarea class="form-control form-control-sm" id="bundle_description" placeholder=""
                                rows="5" formControlName="description"></textarea>
                            <br>

                            <h6>Access rights</h6>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="bundle_open_access"
                                    formControlName="open_access">
                                <label class="form-check-label" for="bundle_open_access">
                                    Open access
                                </label>
                            </div>

                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </form>
        </div>
        <div *ngIf="publishing" class="center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div *ngIf="publishResult">
            <div *ngIf="publishResult.publishUrl">
                {{publishResult.message}}
                It can be found <a href="{{publishResult.publishUrl}}">here</a>.
            </div>
            <div *ngIf="publishResult.error">
                <p>{{publishResult.error.message}}</p>
                <div *ngIf="publishResult.error.duplicatePublicationUrl">
                    It can be found <a href="{{publishResult.error.duplicatePublicationUrl}}">here</a>.
                </div>
                <div *ngIf="publishResult.error.publishingSystemResponse">
                    <h6>Publishing System Response</h6>
                    <p><b>message:</b> {{publishResult.error.publishingSystemResponse.message}}</p>
                    <span *ngIf="publishResult.error.publishingSystemResponse.status">
                        <p><b>status:</b> {{publishResult.error.publishingSystemResponse.status}}</p>
                    </span>
                    <span *ngIf="publishResult.error.publishingSystemResponse.code">
                        <p><b>status:</b> {{publishResult.error.publishingSystemResponse.code}}</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span *ngIf="!publishing && !publishResult">
            <button [disabled]="!bundleInfo.valid" class="btn btn-success"
                (click)="publishMultipleRepositories()">Publish repositories</button>
        </span>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
    </div>
</ng-template>