<div class="view">
  <div class=" main-container">
    <div class="topBar">
      <span>
        <button class="btn btn-secondary" (click)="infoModal.open()">
          <i class="fas fa-question-circle"></i>
        </button>
      </span>
      <span *ngIf="!canPublish()" class="tooltip-wrapper" placement="bottom"
        ngbTooltip="One or more repository is missing required information">
        <button class="btn btn-success" (click)="publishAllRepos()" [disabled]="!canPublish()">
          Publish {{getButtonText()}}
        </button>
      </span>
      <span *ngIf="canPublish()" class="tooltip-wrapper">
        <button class="btn btn-success" (click)="publishAllRepos()" [disabled]="!canPublish()">
          Publish {{getButtonText()}}
        </button>
      </span>
      <button class="btn btn-info" (click)="addRepo()" [disabled]="!canAdd()" placement="bottom"
        ngbTooltip="Add additional repository to be published as a bundle">Add repository</button>
    </div>
    <ngb-tabset [destroyOnHide]="false">
      <ngb-tab *ngFor="let form of publishForms; let i = index" title="">
        <ng-template ngbTabTitle>
          <span>{{getTabName(form, i)}}</span>

          <span *ngIf="publishForms.length > 1" class="close close-tab" (click)="closeTab(i, $event)">
            &times;
          </span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-publication-form [publishForm]="form" [formIndex]="i" [totalForms]="publishForms.length">
          </app-publication-form>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>

<app-publish-modal [publishForms]="publishForms" #publishModal></app-publish-modal>
<app-information-modal #infoModal></app-information-modal>