/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}